
.hero-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-detail-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-space: 1rem;
    color: #fcfc03;
}

.hero-selected {
    animation: 0.1s selected 1 ease;
    animation-fill-mode: forwards;
    border: 1px solid;
    border-image: linear-gradient(130deg, #fcfc03, #afaf0b);
    border-image-slice: 1;
}

@keyframes selected {
    100% {
        border-width: 2px;
    }

}