---
import { ChampionContainer } from '../components/ChampionBuilder/ChampionContainer.jsx'
---

<style>
    .hero-icon-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
</style>


<div class="hero-icon-list">
    <div style="height: 60px; width: 100vw;"></div>
    <ChampionContainer client:visible/>
</div>